<!doctype html>
<html lang="en" ng-app="app"> <!-- ※※※※※※ これ！！大丈夫か？？？？固定値になっているはずだが※※※※※※ -->
<head>

<!--

  2016/08/16
    画像選択を部品化する

  2016/07/12
    tabbarなんか嫌なんで、wikidiverと同様にtopかmenuからいけるかんじにしよう

  glot, jqplotなどがチャート
    何に使うか？
      月/中分類別 お金使用状況
      月/中分類別 投稿件数

  d3 on angular
  http://www.ng-newsletter.com/posts/d3-on-angular.html

-->

    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <title>Biker's Note</title>

    <link rel="stylesheet" href="lib/onsen/css/onsenui.css">
    <link rel="stylesheet" href="lib/onsen/css/onsen-css-components-blue-basic-theme.css">
    <link rel="stylesheet" href="css/home.css" />

    <script src="lib/onsen/js/angular/angular.js"></script>
    <script src="lib/onsen/js/onsenui.js"></script>

    <script src="js/const/constants.js"></script>

    <script src="js/common/commonFunctions.js"></script>
    <script src="js/common/storageManager.js"></script>

    <script src="js/class/IFRETURN.js"></script>

    <script src="cordova.js"></script>
    <script src="js/main.js"></script>
    <script src="js/service/recordManageService.js"></script>
    <script src="js/service/masterManageService.js"></script>
    <script src="js/controller/homeController.js"></script>
    <script src="js/controller/recordController.js"></script>
    <script src="js/controller/selectListController.js"></script>
    <script src="js/controller/masterController.js"></script>
    <script src="js/controller/maintainanceStateController.js"></script>

    <style>
    .label_area{
        width: 20%;
        overflow: hidden;
    }
    .header_page_list_title{

    }
    .header_page_list_others > p{
      margin-top: 4px;
      margin-bottom: 4px;
    }
    .required_mark{
      color: red;
      font-size: 120%;
    }
    </style>
</head>

<body ng-controller="RootController">

<!--
  <ons-tabbar hide-tabs="sharing.hide_tabbar" var="myTabbar">
    <ons-tab page="index.html" label="Home" icon="ion-ios-home" active="true"></ons-tab>
    <ons-tab page="view_record_wrapper.html" label="Collection" icon="ion-ios-book"></ons-tab>
    <ons-tab page="entry_record_wrapper.html" label="Record" icon="ion-edit"></ons-tab>
    <ons-tab page="master_wrapper.html" label="Settings" icon="ion-ios-cog"></ons-tab>
  </ons-tabbar>
-->
<!--
  <ons-template id="index.html">
    <ons-navigator var="myNavigator" page="home.html"></ons-navigator>
  </ons-template>
  <ons-template id="view_record_wrapper.html">
    <ons-navigator var="myNavigator" page="view_record_header_page.html"></ons-navigator>
  </ons-template>
  <ons-template id="entry_record_wrapper.html">
    <ons-navigator var="myNavigator" page="view_record_detail_page.html"></ons-navigator>
  </ons-template>
  <ons-template id="master_wrapper.html">
    <ons-navigator var="myNavigator" page="master.html"></ons-navigator>
  </ons-template>
-->

<!-- 上記を生かしたい場合は、このnavigatorを消す -->
<ons-navigator var="myNavigator" page="home.html"></ons-navigator>

  <ons-template id="home.html">
      <ons-page ng-controller="HomeController">

          <ons-toolbar>
              <div class="center">{{labels.TITLE_HOME}}</div>
              <div class="right">
                  <ons-toolbar-button><ons-icon icon="ion-gear-a" style="vertical-align: -4px; font-size: 28px;"></ons-icon></ons-toolbar-button>
              </div>
          </ons-toolbar>

          <div class="profile-card">
              <img src="images/profile-image-01.png" class="profile-image">
              <div class="profile-name">{{data.name}}</div>
              <div class="profile-desc">{{data.comment}}</div>
              <div class="profile-purcase_date">{{data.purchace_date}}</div>
          </div>

<!--
          <div>
            <ons-button ng-click="getMachine('20160628104436')">update view</ons-button>
          </div>
-->

<!--

レコード1件追加
レコード照会
自機体のメンテ状況照会->トラップ

機体照会/切替
マスタ照会
メモ

-->

        <ons-row>
          <ons-col>
            <ons-button modifier="large--quiet" ng-click="move2functions('1')">
              <ons-icon icon="" style="font-size: 28px; width: 1em;"></ons-icon>
              <p>add record</p>
            </ons-button>
          </ons-col>
          <ons-col>
            <ons-button modifier="large--quiet" ng-click="move2functions('2')">
              <ons-icon icon="" style="font-size: 28px; width: 1em;"></ons-icon>
              <p>view</p>
            </ons-button>
          </ons-col>
          <ons-col>
            <ons-button modifier="large--quiet" ng-click="move2functions('3')">
              <ons-icon icon="" style="font-size: 28px; width: 1em;"></ons-icon>
              <p>state</p>
            </ons-button>
          </ons-col>
        </ons-row>
        <ons-row>
          <ons-col>
            <ons-button modifier="large--quiet"  ng-click="move2functions('4')">
              <ons-icon icon="" style="font-size: 28px; width: 1em;"></ons-icon>
              <p>switch</p>
            </ons-button>
          </ons-col>
          <ons-col>
            <ons-button modifier="large--quiet" ng-click="move2functions('5')">
              <ons-icon icon="" style="font-size: 28px; width: 1em;"></ons-icon>
              <p>master</p>
            </ons-button>
          </ons-col>
          <ons-col>
            <ons-button modifier="large--quiet" ng-click="move2functions('6')">
              <ons-icon icon="" style="font-size: 28px; width: 1em;"></ons-icon>
              <p>memo</p>
            </ons-button>
          </ons-col>
        </ons-row>

        <ons-button modifier="quiet" ng-click='delete_all_records()'>DELETE ALL DATA(DANGEEEEEERRRR!!)</ons-button>

      </ons-page>
  </ons-template>

  <!-- 整備情報一覧ページ -->
  <!--

  要件：
  ・最初にページを表示した場合、現在設定されているバイク情報に紐づく整備情報を時系列順で取得する

  ・検索設定ボタンを押下することで、他の機体、分類ごとなどに検索ができる

  ・リスト項目押下でメンテナンス詳細ページに遷移する

  -->
  <ons-template id="view_record_header_page.html">
      <ons-page ng-controller="ViewRecordHeaderController">

        <ons-toolbar>
            <div class="left"><ons-back-button>Back</ons-back-button></div>
            <div class="center">{{labels.TITLE_HEADERS}}</div>
            <div class="right">

              <ons-toolbar-button> <!-- search filterを使用する -->
                <ons-icon icon="search" style="vertical-align: -4px; font-size: 28px;"></ons-icon>
              </ons-toolbar-button>

              <ons-toolbar-button>
                <ons-icon icon="search" style="vertical-align: -4px; font-size: 28px;"></ons-icon>
              </ons-toolbar-button>

              <ons-toolbar-button ng-click="">
                <ons-icon icon="ion-trash-a" style="vertical-align: -4px; font-size: 28px;"></ons-icon>
              </ons-toolbar-button>

            </div>
        </ons-toolbar>

        <ons-list id="header_page_list">
          <ons-list-item modifier="chevron" class="item" ng-repeat="item in items track by $index" ng-click="processItemSelect($index, $event)">
              <ons-row>
                <ons-col width="40px" class="mark_box">
                    <label class='checkbox checkbox--list-item fade' ng-show="is_delete_phase" ng-click="$event.stopPropagation();">
                        <input type='checkbox' checklist-model="del_targets.items" checklist-value="item.id"><div class='checkbox__checkmark checkbox--list-item__checkmark'></div>
                    </label>
                </ons-col>
                  <ons-col class="header_page_list_title">
                    <h2>{{item.title}}</h2>
                  </ons-col>
                  <ons-col class="header_page_list_others">
                    <p><span>{{item.bike}}</span></p>
                    <p><span>{{item.d_bunrui}}</span> > <span>{{item.c_bunrui}}</span></p>
                  </ons-col>
              </ons-row>
          </ons-list-item>
        </ons-list>

        <div ng-show="is_delete_phase" class="page_under_area">
            <ons-button ng-click="checkAll()">全選択</ons-button>
            <ons-button ng-click="uncheckAll()">解除</ons-button>
            <ons-button ng-click="deleteRecord()" ng-class="{bg_red: del.items.length > 0 }">削除<small>({{del.items.length}})</small></ons-button>
        </div>

      </ons-page>
  </ons-template>

  <!-- 整備情報詳細ページ(読専) -->
  <ons-template id="view_record_detail_page.html">
      <ons-page ng-controller="ViewRecordDetailController">

        <ons-toolbar>
            <div class="left"><ons-back-button>Back</ons-back-button></div>
            <div class="center">{{labels.TITLE_DETAIL}}</div>
        </ons-toolbar>

        <ons-list>

          <ons-list-item ng-repeat="item in properties" ng-hide="item.no_disp">
            <ons-row>
              <ons-col>{{item.label}}<span ng-show="item.required" class="required_mark">*</ons-col>
              <ons-col>
                <span ng-hide="is_view">
                  <input ng-hide="item.not_normal" type="{{item.input_type}}" ng-model="record[item.name]" />
                  <span ng-show="item.not_normal">
                    <span ng-show="item.is_select">
                      <ons-button ng-click="showSelectList(item.name)">選択</ons-button><span>{{record[item.name]}}</span>
                    </span>
                    <span ng-show="item.is_img">
                        <div imagePickerDirective="item.imagePickerArgs"></div>
                    </span>
                  </span>
                </span>
                <span ng-show="is_view">
                  <span ng-if="true">
                    {{record[item.name]}}
                  </span>
                  <span ng-if="false">
                    <img ng-src="{{item.url}}" />
                  </span>
                </span>
              </ons-col>
            </ons-row>
          </ons-list-item>

        <ons-button modifier="quiet large" ng-show="is_view" ng-click="move2RecordEdit()">{{labels.EDIT_BUTTON}}</ons-button>
        <ons-button modifier="quiet large" ng-hide="is_view" ng-click="processRegist()">{{UPDATE_BUTTON_NAME}}</ons-button>
        <ons-button modifier="large" ng-show="is_modify" ng-click="processDelete()">{{labels.DELETE_BUTTON}}</ons-button>


      </ons-page>
  </ons-template>

<!--
  ★★★★★ need maintainance state ★★★★★
-->
  <ons-template id="maintainance_state.html">
    <ons-page ng-controller="MaintainanceStateController">
      <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">MaintainanceState</div>
      </ons-toolbar>

      <div class="contents">
        <div>
          <h2>target: {{target_machine.name}}</h2>
        </div>


        <ons-list>
          <ons-list-header>
            <ons-row>
              <ons-col width="20%">名称</ons-col>
              <ons-col>next...</ons-col>
            </ons-row>
          </ons-list-header>

          <ons-list-item ng-repeat="cbunrui in cbunrui_of_maintainance">
            <ons-row>
              <ons-col width="20%">cbunrui.name</ons-col>
              <ons-col>{{cbunrui.id| calcNextInterval}}</ons-col>
            </ons-row>
          </ons-list-item>
        </ons-list>

      </div>

    </ons-page>
  </ons-template>


  <ons-template id="switch_machine.html">
    <ons-page ng-controller="SwitchMachineController">

      <ons-toolbar>
          <div class="left"><ons-back-button>Back</ons-back-button></div>
          <div class="center">{{PAGE_TITLE}}</div>
      </ons-toolbar>

      <div>
        <ons-list>
          <ons-list-item ng-repeat="item in machines track by $index" ng-click="processItemSelect($index)">
            <ons-col width="30%">
              <input type="checkbox" />
            </ons-col>
            <ons-col>{{item.name}}</ons-col>
          </ons-list-item>
        </ons-list>
      </div>

    </ons-page>
  </ons-template>



<!--
  ★★★★★ Master ★★★★★
 -->
  <ons-template id="master.html">
    <ons-page ng-controller="MasterController">

      <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">{{labels.TITLE_SETTINGS}}</div>
      </ons-toolbar>

      <ons-list>
        <ons-list-item modifier="chevron" class="item" ng-click="move2MachineView()">
          {{mlabels.MSTR_MACHINE_VIEW}}
        </ons-list-item>
        <ons-list-item modifier="chevron" class="item" ng-click="move2TypeView()">
          {{mlabels.MSTR_BUNRUI_VIEW}}
        </ons-list-item>
      </ons-list>

    </ons-page>
  </ons-template>

  <ons-template id="master_machine_header.html">
    <ons-page ng-controller="MasterMachineHeader">

      <ons-toolbar>
          <div class="left"><ons-back-button>Back</ons-back-button></div>
          <div class="center">{{labels.TITLE_DETAIL}}</div>
      </ons-toolbar>

      <ons-list>
        <ons-list-header>{{mlabels.MACHINE_SIGN_UP}}</ons-list-header>
        <ons-list-item>
          <ons-button modifier="large quiet" ng-click="move2MachineDetailRegist()">{{mlabels.MACHINE_SIGN_UP_BUTTON}}</ons-button>
        </ons-list-item>

        <ons-list-header>{{mlabels.MACHINE_LIST}}</ons-list-header>
        <ons-list-item modifier="chevron" class="item" ng-repeat="item in machines track by $index" ng-click="move2MachineDetailView($index, $event)">
          <ons-row>
            <!-- <ons-col>{{item.id}}</ons-col> -->
            <ons-col>{{item.name}}</ons-col>
          </ons-row>
        </ons-list-item>
      </ons-list>

    </ons-page>
  </ons-template>

  <ons-template id="master_machine_detail.html">
    <ons-page ng-controller="MasterMachineDetail">

      <ons-toolbar>
          <div class="left"><ons-back-button>Back</ons-back-button></div>
          <div class="center">{{PAGE_TITLE}}</div>
      </ons-toolbar>

      <ons-list>

        <!-- めんどいんで、各項目は動的に生成しよう... -->
        <ons-list-item ng-repeat="item in properties" ng-hide="item.no_disp">
          <ons-row>
            <ons-col>{{item.label}}<span ng-show="item.required" class="required_mark">*</ons-col>
            <ons-col>
              <span ng-hide="is_readonly">
                <input ng-hide="item.not_normal" type="{{item.input_type}}" ng-model="machine[item.name]" />
                <span ng-show="item.not_normal">
                  <span ng-show="item.is_select">
                    <ons-button ng-click="selectTest($event)" target-model="{{item.name}}">選択</ons-button><span>{{machine[item.name]}}</span>
                    <!--<button ng-click="selectTest($event)" target-model="{{item.name}}">選択</button><span>{{machine[item.model]}}</span>-->
                  </span>
                  <span ng-show="item.is_img">
                      picking!!
                  </span>
                </span>
              </span>
              <span ng-show="is_readonly">
                <span ng-if="true">
                  {{machine[item.name]}}
                </span>
                <span ng-if="false">
                  <img ng-src="{{item.url}}" />
                </span>
              </span>
            </ons-col>
          </ons-row>
        </ons-list-item>

      </ons-list>

      <ons-list>
        <ons-list-item ng-hide="is_readonly">
          <ons-button modifier="large quiet" ng-click="processRegist()">{{UPDATE_BUTTON_NAME}}</ons-button>
        </ons-list-item>
        <ons-list-item ng-show="is_edit_screen" >
          <ons-button modifier="large quiet" ng-click="processDelete()">{{DELETE_BUTTON_NAME}}</ons-button>
        </ons-list-item>
        <ons-list-item ng-show="is_readonly">
          <ons-button modifier="large quiet" ng-click="move2MachineDetailEdit()">{{EDIT_BUTTON_NAME}}</ons-button>
        </ons-list-item>
      </ons-list>

    </ons-page>
  </ons-template>



  <ons-template id="master_type_header.html">
    <ons-page ng-controller="MasterTypeHeader">

      <ons-toolbar>
          <div class="left"><ons-back-button>Back</ons-back-button></div>
          <div class="center">{{labels.TITLE_DETAIL}}</div>
      </ons-toolbar>

      <ons-list>
        <ons-list-item>
          <ons-row>
            <ons-col></ons-col>
            <ons-col></ons-col>
          </ons-row>
        </ons-list-item>
      </ons-list>
    </ons-page>
  </ons-template>

</body>
</html>
